<!doctype html>
<html>
  <head>
    <title>Showcase Template</title>
  </head>
  <body>
    <!--settings-->
      <form action="" method='POST'>
	<fieldset>
	  <legend>%{Database Settings}%</legend>
	  <input id="defaultDatabase" type="text" value="%{PROTEUS_DEFAULT_DATABASE}%">
	  <label for="defaultDatabase">%{defaultDatabaseLabel}%</label>
	  <br/>
	  <hr/>
	  <h3>MySQL</h3>
	  <input id="MySQLhost" type="text" value="%{MySQLhost}%">
	  <label for="MySQLhost">%{MySQLhostLabel}%</label>
	  <br/>
	  <input id="MySQLuserName" type="text" value="%{MySQLuserName}%">
	  <label for="MySQLuserName">%{MySQLuserNameLabel}%</label>
	  <br/>
	  <input id="MySQLpassword" type="text" value="%{MySQLpassword}%">
	  <label for="MySQLpasswordLabel">%{MySQLpasswordLabel}%</label>
	  <br/>
	  <input id="MySQLdbname" type="text" value="%{MySQLdbname}%">
	  <label for="MySQLdbnameLabel">%{MySQLdbnameLabel}%</label>
	  <br/>
	  <input id="MySQLport" type="text" value="%{MySQLport}%">
	  <label for="MySQLportLabel">%{MySQLportLabel}%</label>
	  <br/>
	  <input id="MySQLsocket" type="text" value="%{MySQLsocket}%">
	  <label for="MySQLsocketLabel">%{MySQLsocketLabel}%</label>
	  <br/>
	  <hr/>
	  <h3>SQLite3</h3>
	  <input id="SQLite3DBName" type="text" value="%{SQLite3DBName}%">
	  <label for="SQLite3DBNameLabel">%{SQLite3DBNameLabel}%</label>
	  <br/>
	  <input type="submit" value="%{Update}%">
	  <input type="reset" value="%{Reset}%">
	</fieldset>
      </form>
    <!--/settings-->
  </body>
</html>