<!doctype html>
<html>
  <head>
    <title>Showcase Template</title>
  </head>
  <body>
    <!--settings-->
      <form action="" method='POST'>
	<fieldset>
	  <legend>%{General Settings}%</legend>
	  <input id="proteusHome" type="text" value="%{PROTEUS_HOME}%">
	  <label for="proteusHome">Proteus Home Directory</label>
	  <br/>
	  <input id="proteusURL" type="text" value="%{PROTEUS_URL}%">
	  <label for="proteusURL">Proteus base <acronym title="Uniform Resource Location">URL</acronym></label>
	  <hr/>
	  Settings override for <a href="https://php.net/manual/en/function.error-reporting.php">php function error_reporting()</a>
	  <br/>
	  <input type="checkbox" id="E_ALL" name="E_ALL" value="true"> <label for="E_ALL" title="All errors and warnings">E_ALL</label><br/>
	  <input type="checkbox" id="E_ERROR" name="E_ERROR" value="true"> <label for="E_ERROR" title="Fatal run-time errors">E_ERROR</label><br/>
	  <input type="checkbox" id="E_WARNING" name="E_WARNING" value="true"> <label for="E_WARNING" title="Run-time warnings (non-fatal errors)">E_WARNING</label><br/>
	  <input type="checkbox" id="E_PARSE" name="E_PARSE" value="true"> <label for="E_PARSE" title="Compile-time parse errors">E_PARSE</label><br/>
	  <input type="checkbox" id="E_DEPRECATED" name="E_DEPRECATED" value="true"> <label for="E_DEPRECATED" title="notices for the use of functions that will be retired in a future version">E_DEPRECATED</label><br/>
	  <input type="checkbox" id="E_NOTICE" name="E_NOTICE" value="true"> <label for="E_NOTICE" title="run-time notices (these are warnings which often result from a bug in your code, but it's possible that it was intentional (e.g., using an uninitialized variable and relying on the fact it's automatically initialized to an empty string)">E_NOTICE</label><br/>
	  <input type="checkbox" id="E_CORE_ERROR" name="E_CORE_ERROR" value="true"> <label for="E_CORE_ERROR" title="fatal errors that occur during PHP's initial startup">E_CORE_ERROR</label><br/>
	  <input type="checkbox" id="E_CORE_WARNING" name="E_CORE_WARNING" value="true"> <label for="E_CORE_WARNING" title="Warnings (non-fatal errors) that occur during PHP's initial startup">E_CORE_WARNING</label><br/>
	  <input type="checkbox" id="E_COMPILE_ERROR" name="E_COMPILE_ERROR" value="true"> <label for="E_COMPILE_ERROR" title="fatal compile-time errors">E_COMPILE_ERROR</label><br/>
	  <input type="checkbox" id="E_COMPILE_WARNING" name="E_COMPILE_WARNING" value="true"> <label for="E_COMPILE_WARNING" title="Compile-time warnings (non-fatal errors)">E_COMPILE_WARNING</label><br/>
	  <input type="checkbox" id="E_USER_ERROR" name="E_USER_ERROR" value="true"> <label for="E_USER_ERROR" title="User-generated error message">E_USER_ERROR</label><br/>
	  <input type="checkbox" id="E_USER_WARNING" name="E_USER_WARNING" value="true"> <label for="E_USER_WARNING" title="User-generated warning message">E_USER_WARNING</label><br/>
	  <input type="checkbox" id="E_USER_NOTICE" name="E_USER_NOTICE" value="true"> <label for="E_USER_NOTICE" title="User-generated notice message">E_USER_NOTICE</label>
	  <hr/>
	  <label for="showErrors">Show Errors?:</label>
	  <select id="showErrors">
	    <option value="yes">yes</option>
	    <option value="no">no</option>
	  </select>
	  [override for <a href="https://secure.php.net/manual/en/function.ini-set.php#refsect1-function.ini-set-examples">
	  php function: ini_set('display_errors', '1');]
	  </a><hr/>
	  <input type="submit" value="%{Update}%">
	  <input type="reset" value="%{Reset}%">
	</fieldset>
      </form>
    <!--/settings-->
  </body>
</html>