<!doctype html>
<html>
  <head>
    <title>Showcase Template</title>
  </head>
  <body>
    <!--settings-->
      <form action="" method='POST'>
	<fieldset>
	  <legend>General Settings</legend>
	  <input id="proteusHome" type="text" value="%{PROTEUS_HOME}%">
	  <label for="proteusHome">Proteus Home Directory</label>
	  <br/>
	  <input id="proteusURL" type="text" value="%{PROTEUS_URL}%">
	  <label for="proteusURL">Proteus Base <acronym title="Uniform Resource Locator">URL</acronym></label>
	  <br/>
	  <input type="submit" value="%{Update}%">
	  <input type="reset" value="%{Reset}%">
	</fieldset>
      </form>
    <!--/settings-->
  </body>
</html>